<header>
    <div class="logo">
        <a href="/inventory"><img src="https://reaperscans.com/wp-content/uploads/2021/07/logo-reaper-2.png.webp" alt=""></a>
    </div>
    <div class="nav">
        <nav>
            <ul>
                <li><a href="/inventory">Homepage</a></li>
                <li><a href="/inventory/comics">Comics</a></li>
                <li><a href="/inventory/manga">Manga</a></li>
                <li><a href="/inventory/anime">Anime</a></li>
            </ul>
        </nav>
    </div>
    <div class="search-bar">
        <div class="search-icon"><i class="fas fa-search"></i></div>
    </div>
</header>